.btn {
    border-radius: 100px;
    margin: 0 auto;
    height: 4.5rem;
    padding: 1rem 2rem;
    border: none;
    @include shadow;
    transition: all 500ms;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    &:hover {
        @include shadow-hover;
    }
    &--gradient { /* R15 */
        color:$color-white;

        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        &:hover {
            background-image: linear-gradient(to bottom right, lighten($color-secondary, 10%), lighten($color-primary, 10%));
        }
        @include zm {
            font-size: 1.2rem;
        }
    }
    &--order {
        height: 5rem;
        
        @include zm {
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
        @include xm {
            font-size: 1.6rem;
            padding: 1rem 3rem;
        } 
        @include sm {
            font-size: 1.65rem;
            padding: 1rem 4rem;
        }
        @include md {
            font-size: 1.7rem;
            padding: 1rem 5rem;
        }
        @include lg {
            font-size: 1.8rem;
            padding: 1rem 5rem;
        }        
        @include xl {
            font-size: 1.85rem;
            padding: 1rem 7rem;
        }
    }
}