.footer {
    
    background-color: darken($color-gray--dark, 70%);
    color: white;
    &__title {
        margin: 1rem 0;
    }
    &__logo {
        height: 2rem;
        Margin-left: 2rem;
        padding-left: 0.5rem;
        filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
    }
    &__nav {
        list-style-type: none;
    }
    &__option {
        line-height: 2.5rem;
        &--bold{
            font-weight: 500;
        }
        &-icon{
            width: 10px;
            margin-right: 2rem;
        }
    }
}