.header {
    @extend %flex-center;
    background: $color-white;
    height: 7rem;
    width: 100%; 
    position: relative;
    z-index: 1;
    @extend %header-shadow;
    &__logo {
        height: 2.5rem;
    }
    &__return {
        transform: translate(50%, -50%);
        position: absolute;
        top: 50%;

        @include zz {
            left: -0.5%;
            font-size: 1.5rem;
        }
        @include zm {
            left: 3%;
            font-size: 1.6rem;
        }
        @include xm {
            left: 3%;
            font-size: 2rem;
        }
        @include sm {
            left: 5%;
            font-size: 2rem;
        }
        @include md {
            left: 5%;
            font-size: 2rem;
        }
        @include lg {
            left: 5%;
            font-size: 2rem;
        }
        @include xl {
            left: 5%;
            font-size: 2rem;
        }
    }
}