/* loading animation */
.loader-background,
.location {
    animation: fade-in 2700ms ease-in;
}

.loader {/* R7 */
    position: absolute;
    z-index: 1001;
    left: 50%;
    border: 16px solid $color-secondary;
    border-top: 16px solid $color-primary;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 1100ms linear;
    opacity: 0;
    
    @include lg {
        width: 20rem;
        height: 20rem;
    }
}


/* location section */

.location {
    @extend %flex-center;
    width: 100%;
    height: 6rem;
    background-color: $color-gray--dark;
    &__icon {
        margin-right: 1rem;
    }
}

/* Book the menu you like section*/

.booking {
    background-color: $color-gray--light;
    //height: 15rem;/* R18 */

    @include zz {
        height: 14rem ;
    }
    @include zm {
        height: 14rem;
    }
    @include xm {
        height: 14rem;
    }
    @include sm {
        height: 14rem;
    }
    @include md {
        height: 15rem;
    }
    @include lg {
        height: 15rem;
    }
    @include xl {
        height: 22rem;
    }

    @extend %flex-between;
    flex-direction: column;
    text-align: center;
    padding: $booking-padding;
}

/* How it works section */

.howto {
    &__card {

        background-color: $color-gray--light;
        @include zz {
            margin: 1rem 1.4rem 0.55rem 1rem;  /* R16 last value*/
            height: 4rem; /*  R19 */
            width: 85%;
        }
        @include zm {
            margin: 1rem 1.4rem 0.55rem 1rem;
            height: 4rem;
            width: 100%;
        }
        @include xm { /*Window width >=375 */
            width: 100%;/* R8 */
            margin: 0.8rem 1.4rem 2rem 2.1rem;
            height: 4rem;
           // max-width: 500px;
        }

        @include sm {    /*Window width >=576*/
            width: 80%;
            margin: 1rem 1.4rem 2rem 2.2rem;/* R9 - first value*/
            height: 4rem;
            max-width: 1000px;
        }
        @include md {    /* Window width >=768*/
            width: 65%;
            margin: 3rem 1.4rem 0rem 8rem;
            height: 6rem;
            max-width: 1000px;
        }
        @include lg {    /*Window width >=992*/
            width: 45%;
            margin: 3rem 1.4rem 2rem 1rem;
            height: 6rem;
            max-width: 1000px;
        }
        @include xl {    /* Window width >=1200*/
            width: 80%;
            margin: 3rem 1.4rem 2rem 1rem;
            height: 6rem;
            max-width: 1000px;
        }

        &--primarycolor{
            background-color: rgba($color-primary, 0.1);
        }
        &-title {
            display: flex;
            align-items: center ;
            justify-content: flex-start;
            height: 100%;
        }
        &-number {
            background-color: $color-primary;
            color: $color-white;
            border-radius: 1000px;
            position: absolute;
            padding: .25rem .75rem;
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%)
        }
        
        &-icon {
            color: black;
            width: 10px;
            margin: 0rem 3rem;
            &--primarycolor{
                color: $color-primary;
            }
        }
        &:hover{
            background-color: #f5edff;
        }
    }
}
//Restaurants section 

.restaurant {
    background-color: $color-gray--light;
    &__card {
        height: 18rem;
        width: 100%;
        max-width: 27rem;
        @include zz {
           margin-bottom: 6rem; /* R4 */
           width: 90%;  /* R12 */
           height: 12rem;
         }
        @include zm {
            margin-bottom: 6rem;
            width: 90%;
            height: 12rem;
        }
        @include xm {
            margin: 3.2rem;
        }
        @include sm {    /*Window width >=576*/
            margin: 2.8rem;
            width: 55%;
        } 
        @include md {    /* Window width >=768*/ 
            margin: 3.2rem;
            width: 70%;
        }   
        @include lg {    /*Window width >=992*/
            height: 25rem;
            margin: 2.4rem;
            
        } 
        @include xl {    /* Window width >=1200*/
            margin: 2rem;
        } 

        &-image {
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }
        &-new { 

            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-weight: 700;
            position: absolute;
             margin: auto;
            border-radius: 5px;
            @extend %flex-center;
            /*R6 position of the new button */
            @include zz {
                @include position_btn_new(2rem,7rem,2rem,50%,1rem);
            }
            @include zm {
                @include position_btn_new(3rem,8rem,2rem,50%,1.4rem);
            }
            @include xm{
                @include position_btn_new(3rem,8rem,2rem,50%,1.4rem);
            }
            @include sm {
                @include position_btn_new(3rem,8rem,2rem,54%,1.4rem);
            }
            @include md {
                @include position_btn_new(3rem,8rem,2rem,55%,1.4rem);
            }
            @include lg {
                @include position_btn_new(3.5rem,9rem,2rem,55%,1.4rem);
            }
            @include xl {
                @include position_btn_new(3.5rem,9rem,2rem,55%,1.4rem);
            }
        }
        &-label {
            @extend %flex-between;
            background-color: $color-white;
            width: 100%;
            height: 5rem;
            border-radius: 0 0 20px 20px;
            position: absolute;
            top: 75%;
            left: 0;
            padding: 1rem 0;

            @include lg {
                height: 6.5rem;
            }

        }
        &-icon {
            color: white;
            padding: 1rem;
            -webkit-text-stroke: 1px black;
            cursor: pointer;
            transition: all 500ms;
            -webkit-transition: all 500ms;
            &:hover {
                -webkit-text-stroke: 1px transparent;
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                // background-clip: text;
                -webkit-background-clip: text; /* TODO problème de compatibilité*/
                color: transparent;
            }
        }
    }
}
