.menu{
    /* Menu top image */
    background-color: $color-gray--light;
    &__restaurant{
        &-image{
            position: relative;
            width: 100%;
            height: 20rem;
            @include md {
                height: 40rem;
            }
            @include lg {
                height: 50rem;
            }
            @include lg {
                height: 80rem;
            }
            z-index: 0;
        }
    }
    /* title section */
    &__title{
        background-color: $color-gray--light;
        position: relative;
        z-index: 1;
        border-radius: 3.5rem 3.5rem 0 0;
        margin-top: -6rem;
        padding: 1rem 0;
        @include xl {
            margin-top: -30rem;
        }

        &-icon {
            width:40px;
            position: absolute;
            top: 85px;
            right: -35px;
            color: white;
            margin: 0 2rem;
            font-size: 2rem;
            -webkit-text-stroke: 1px black;
            cursor: pointer;
            transition: all 500ms;
            -webkit-transition: all 500ms;
            &:hover {
                -webkit-text-stroke: 1px transparent;
                background: linear-gradient(to bottom right, $color-secondary, $color-primary);
                //background-clip: text;
                -webkit-background-clip: text; /* TODO A remplacer problème de compatibilité*/
                color: transparent;
            }
        }
    }
    /* menu choices*/
    &__choices{

        background-color: $color-gray--light;
        position: relative;
        z-index: 1;

        @include xl {    /* Window width >=1200*/
            display: flex;
            align-content: space-between;
            margin-top: -4rem;
            z-index:auto;
        }
        @include lg {
            margin-top: -4rem; /*R2*/
            z-index:auto;
        }
        &-title {
            display:inline-block;

            p {
                text-transform: uppercase;
                padding-bottom:10px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: 60%;
                    bottom: 0;
                    left: 0;
                    border-bottom: 2px solid $color-tertiary;
                }
            }
        }
        &-card {
            /* R20 */
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-name: fade-in;
                    animation-duration: 750ms;
                    animation-fill-mode: both;
                    animation-delay: 500ms * $i;
                }
            }

            background-color: $color-white;
            margin: 1.5rem 0rem;

            @include lg {
                margin: 2.5rem 0rem;
            }

            @include xl {    /* Window width >=1200*/

                margin: 1rem 0.5rem 1rem 0;
                padding: 0;
            }

            &-meal {
                display: flex;
                backface-visibility: hidden;
                &-info {
                    padding: 1rem;
                    @include zm {
                        font-size: 0.9rem;
                    }
                    @include sm {
                        font-size: 1rem;
                    }
                    @include md {
                        padding: 1rem 2rem;
                    }
                    @include lg {
                        padding: 1.5rem 2rem;
                    }

                    @include xl {
                        width: 100%;
                        font-size: 1rem;
                    }

                    width: 100%;
                    min-width: 0;
                    &-item {
                        margin: .5rem 0;
                        width: auto; //18rem;
                        /* @include md {
                            width: auto;
                        } */
                    }
                    &-desc {
                        @extend %flex-between;
                        &-text {
                            min-width: 0;
                        }
                        &-text > p {
                            white-space: nowrap;  /* R17 */
                            overflow: hidden;
                            text-overflow: ellipsis;

                        }
                        &-price p{
                            font-weight: 700;
                        }
                    }
                }
                &--select {
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: all 400ms;
                    width: 0rem;
                    overflow: hidden;
                    &-container{
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        background-color: $color-tertiary;
                        color: $color-white;
                        border-radius: 0px 20px 20px 0px;
                        position: relative;
                        display: block;
                        i {
                            position: absolute;
                            font-size: 2rem;
                            top: 50%;
                            left: 50%;
                            transform: translate(50%,-50%) rotate(90deg);
                        }

                    }
                }

                &:hover > &--select {
                    width: 6rem;
                    transform: scaleX(1);
                    i {
                        transform: translate(-50%,-50%) rotate(360deg);
                        transition: transform 400ms ease-in-out;
                    }
                }


            }
        }
    }
    /* Order */
    &__order {
        @extend %flex-center;
        padding: 0 0 2rem 0;
    }
}
    