body {
    font-family: $font-text;
    font-size: 1.4rem;
    font-weight: 100;
}

/* Menu restaurant name */

h1 {
    font-family: $font-title;
    font-weight: 300;
    font-size: 2rem;
    font-style: italic;
}

/* section titles*/
h2 {
    font-family: $font-text;
    font-weight: 700;
}

h3 {
    font-family: $font-text;
    font-weight: 900;
    padding: 0.5rem;
    
    /* @include zm {
        font-size: 1rem;
    }
    @include xm {
        font-size: 1.1rem
    }
    @include sm {
        font-size: 1.2rem
    }
    @include md {
        font-size: 1.3rem
    }
    @include lg {
        font-size: 1.4rem;
    }
    @include xl {
        font-size: 1.5 rem;
    } */
}

h4 {
    font-family: $font-text;
    font-weight: 100;
    padding: 0.5rem;
}

/* menu section titles */

h5 {
    font-family: $font-text;
    font-size: 1.4rem;
    @include zm {
        font-size: 0.9rem;
    }
    @include xm {
        font-size: 1.4rem;
    }
    @include sm {
        font-size: 1.4rem;
    }
    @include md {
        font-size: 1.4rem;
    }
    @include lg {
        font-size: 1.3;
    }
    @include xl {
        font-size: 1.4rem;
    }
    font-weight: 500;
}

.btn
{
    font-family: $font-text;
    font-weight: normal;
    
    
}
    
